yg {
  color:  yellowgreen;
}

red {
  color:  red;
}

lf {
  font-size: 20px;
}  



.post-link:link, .post-link:visited {
    color: var(--fg);
    text-decoration: none;
}

.post-link:hover, .post-link:active {
    color: var(--bright-fg);
    text-decoration:underline
}